body{
    background-color:#c1c8e4;
    }
    
h1{
    border: 2px black solid;
    text-align:center;
    color:white;
    background-color: #8860D0;
    border-radius: 25px;
}
       
#game{
    border: 2px black solid;
    border-radius:50px;
    background-color:#5680e9;
    text-align: center;
    margin: 10px;
    padding: 20px;
    color: white;
}
    
select{
    font-size:20px;
    color:Blue;
}


#foot{
    margin: auto;
    width: 50%;
}

table{
    background-color: white;
    margin: auto;
    width: 50%;
    table-layout: fixed;
}


table,td{
    width:150px;
    height:90px;
    font-size: large;
    text-align: center;
    border: 2px black solid;
    border-collapse: collapse;
    border-radius: 30px;
}

table td:hover{
    background-color: #8860D0;
    color: white;
}


table,tr:first-child td{
    border-top:0;
}
    
table,tr td:first-child{
    border-left:0;
}
    
table,tr:last-child td{
    border-bottom:0;
}
table,tr td:last-child{
    border-right:0;
}
    

#play{
    font-size:25px;
    border: 2px black solid;
    border-radius: 25px;
    background-color:white;
    width:20%;
}

#play:hover{
    background-color: #8860D0;
    color: white;
    border-color: white;
}

#r{
    font-size: large;
    background-color:white;
    border-radius: 25px;
    border:2px black solid;
    width:20%;
    padding: 10px;
}

#r:hover{
    background-color: #8860D0;
    color: white;
    border-color: white;
}
